<div class="order-container">
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">Customer Id</div>
      <div class="col col-2">Customer Name</div>
      <div class="col col-3">Email Address</div>
      <div class="col col-4">Display Name</div>
    </li>
    <% @users.each do |user| %>
      <a class="table-link" href="<%= user_path(user) %>">
        <li class="table-row">
          <div class="col col-1" data-label="Customer Id"><%= user.id %></div>
          <div class="col col-2" data-label="Customer Name"><%= user.full_name %></div>
          <div class="col col-3" data-label="Email Address"><%= user.email %></div>
          <div class="col col-4" data-label="Display Name"><%= user.display_name %></div>
        </li>
      </a>
    <% end %>
  </ul>
</div>

 <div class="read_bt" style="margin-bottom: 20px;">
      <a class="add-to-cart-button" href="<%=items_path %>">Back</a>
  <div>
    <br>
    <br>
