<!-- app/views/users/new.html.erb -->

<div class="login_container">
  <div class="screen">
    <div class="screen__content">
      <%= form_for @user, :html => { :multipart => true, :class => "login" } do |f| %>
        <div class="login__field">
          <i class="login__icon fas fa-user"></i>
          <%= f.text_field :full_name, class: "login__input", placeholder: "Full Name" %>
        </div>
        <div class="login__field">
          <i class="login__icon fas fa-envelope"></i>
          <%= f.email_field :email, class: "login__input", placeholder: "Email" %>
        </div>
        <div class="login__field">
          <i class="login__icon fas fa-lock"></i>
          <%= f.password_field :password, class: "login__input", placeholder: "Password" %>
        </div>
        <div class="login__field">
          <i class="login__icon fas fa-lock"></i>
          <%= f.text_field :display_name, class: "login__input", placeholder: "Display Name" %>
        </div>
        <%= f.submit "Sign Up Now", class: "button login__submit" %>
      <% end %>
    </div>
    <div class="screen__background">
      <span class="screen__background__shape screen__background__shape4"></span>
      <span class="screen__background__shape screen__background__shape3"></span>
      <span class="screen__background__shape screen__background__shape2"></span>
      <span class="screen__background__shape screen__background__shape1"></span>
    </div>
  </div>
</div>
