
<div class="col-md-12">
  <h1 class="coffee_taital">Order Details</h1>
  <div class="bulit_icon"><%=image_tag "bulit-icon.png"%></div>
</div>
<br>
<div class="item_section layout_padding">
  <div class="container sh-container" style="text-align: center; align-items: center;">
    <p>Order ID: <%= @order.id %></p>
    <p>User Name: <%= @order.user.full_name %></p>
    <p>User Name: <%= @order.user.email %></p>
    <p>Status: <%= @order.status %></p>
    <p>Date and Time : <%= @order.created_at.strftime('%B %e, %Y %H:%M:%S') %></p>
    <ul>
      <% @order.order_items.each do |item| %>
        <li><%= link_to item.item.title, item_path(item) %> ---- Quantity: <%= item.quantity %></li>
      <% end %>
    </ul>
    <div class="container" style="display: flex;">
    <% if current_user.admin? %>
      <form action="<%= order_path(@order) %>" method="post" class="mr-auto search-form">
        <%= hidden_field_tag :_method, :patch %>
        <select name="status" class="search-select">
          <option value="" disabled selected><%= @order.status %></option>
          <% if @order.status == "ordered" || @order.status == "paid" %>
            <option value="cancelled">Cancelled</option>
          <% elsif @order.status == "ordered" %>
            <option value="paid">Paid</option>
          <% elsif @order.status == "paid" %>
            <option value="completed">Completed</option>
          <% end %>
        </select>
        <button type="submit" class="search-button">Change Status</button>
      </form>
    <% end %>
    </div>
  </div>
</div>



