
<div class="order-container">
  <h2>Total Orders : <%=@orders.count %></h2>
    <%if current_user.admin?%>
      <form action=<%= search_orders_path %> method="get" class="mr-auto search-form">
              <select name="status" class="search-select">
                <option value="" disabled selected>Filter by Status</option>
                  <option value="ordered">Ordered</option>
                   <option value="paid">Paid</option>
                  <option value="cancelled">Cancelled</option>
                  <option value="completed">Completed</option>
              </select>
              <button type="submit" class="search-button">Search</button>
      </form>
    <%end%>
    <br>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">Order Id</div>
      <div class="col col-2">Customer Name</div>
      <div class="col col-3">Order status</div>
    </li>
    <% @orders.each do |order| %>
      <a class="table-link" href="<%= order_path(order) %>">
        <li class="table-row">
          <div class="col col-1" data-label="Customer Id"><%= order.id %></div>
          <div class="col col-2" data-label="Customer Name"><%=order.user.full_name%></div>
          <div class="col col-3" data-label="Email Address"><%=order.status%></div>
        </li>
      </a>
    <% end %>
  </ul>
</div>
