
<%= render "shared/header" %>
<h2>Order Details</h2>
<p>Order ID: <%= @order.id %></p>
<p>User Name: <%= @order.user.full_name %></p>
<p>User Name: <%= @order.user.email %></p>
<p>Status: <%= @order.status %></p>
<p>Date and Time : <%= @order.created_at.strftime('%B %e, %Y %H:%M:%S') %></p>
<ul>
  <% @order.order_items.each do |item| %>
    <li><%= link_to item.item.title, item_path(item) %> ---- Quantity: <%= item.quantity %></li>
  <% end %>
</ul>
    <%if current_user.admin?%>
      <form action="<%= edit_order_path(@order) %>" method="get" class="mr-auto search-form">
        <button type="submit" class="search-button">Change Status</button>
      </form>
      <br>
      <form action="<%= order_path(@order) %>" method="post" class="mr-auto search-form">
        <%= hidden_field_tag :_method, :delete %>
        <%= csrf_meta_tags %>
        <button type="submit" class="search-button">Delete Order</button>
      </form>
    <%end%>
