<div class="col-md-12">
  <h1 class="coffee_taital">Order Details</h1>
  <div class="bulit_icon"><%=image_tag "bulit-icon.png"%></div>
</div>
<br>
<div class="item_section layout_padding">
  <div class="container sh-container" style="text-align: center; align-items: center;">
    <p>Order ID: <%= @order.id %></p>
    <p>User Name: <%= @order.user.full_name %></p>
    <p>User Name: <%= @order.user.email %></p>
    <p>Status: <%= @order.status %></p>
    <p>Date and Time : <%= @order.created_at.strftime('%B %e, %Y %H:%M:%S') %></p>
    <ul>
      <% @order.order_items.each do |item| %>
        <li><%= link_to item.item.title, item_path(item.item.id) %> ---- Quantity: <%= item.quantity %></li>
      <% end %>
    </ul>
    <div class="container" style="display: flex;">
    <% if current_user.admin? %>
      <form action="<%= edit_order_path(@order) %>" method="get" class="mr-auto search-form">
        <button type="submit" class="search-button">Change Status</button>
      </form>
      <br>
      <form action="<%= order_path(@order) %>" method="post" class="mr-auto search-form">
        <%= hidden_field_tag :_method, :delete %>
        <%= csrf_meta_tags %>
        <button type="submit" class="search-button">Delete Order</button>
      </form>
    <% end %>
    </div>
  </div>
</div>
