<!-- app/views/items/index.html.erb -->


     <div class="header_bg ">
         <div class="container-fluid">
            <nav class="navbar header_bg navbar-expand-lg navbar-light">
               <a class="navbar-brand"href=<%=items_path %>><%=image_tag "logo.png" %></a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">
                     <li class="nav-item">
                        <a class="nav-link" href=<%=items_path %>>Home</a>
                     </li>
                     <% if session[:user_id] %>
                    <li class="nav-item">
                        <a class="nav-link" href=<%=logout_path%>>LogOut</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href=<%=user_path(current_user) %>>Profile</a>
                     </li>
                     <% else %>
                    <li class="nav-item">
                        <a class="nav-link" href=<%=login_path%>>Login</a>
                     </li>
                     <li class="nav-item active">
                        <a class="nav-link" href=<%= new_user_path%>>SignUp</a>
                     </li>
                     <% end %>

                     <li class="nav-item">
                        <a class="nav-link" href="<%=cart_path(@current_cart) %>">Cart</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#">Search</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                     </li>
                  </ul>
               </div>
            </nav>
         </div>
      </div>

<div class="coffee_section layout_padding">
   <div class="main_container">
      <div class="row">
         <h1 class="coffee_taital">OUR Menue OFFER</h1>
         <div class="bulit_icon"><%= image_tag "bulit-icon.png" %></div>
      </div>
   </div>

   <div class="container">
      <div class="row ">
         <% @items.each do |item| %>
            <div class="col-lg-4 col-md-6 col-sm-6">
               <div class="coffee_item">
                 <a href="<%= item_path(item) %>" class="coffee_img img">
                     <% if item.photo.attached? %>
                        <%= image_tag item.photo, class: "card-img-top img-fluid" %>
                     <% else %>
                        <%= image_tag "default.png", class: "card-img-top img-fluid" %>
                     <% end %>
                  </a>
                  <h3 class="types_text"><%= item.title %></h3>
                  <p class="looking_text"><%= item.description %></p>
                  <div class="read_bt">
                    <%= button_to "Add To Cart", order_items_path(item_id: item.id), method: :post, class: "add-to-cart-button" %>
                  </div>
               </div>
            </div>
         <% end %>
      </div>
   </div>
</div>

